h1 {
    color: blue;
    font-style: italic;
}

.person {
    color: rgb(5, 146, 164);
    padding-top: 3px;
    font-size: 15px;
    font-style: bold;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.success {
    color: rgb(15, 247, 131);
    background: rgb(67, 15, 220);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}